# curl https://github.com/caddyserver/caddy/releases/download/v2.10.2/caddy_2.10.2_linux_amd64.tar.gz -L | tar xzvf -
pasyun-sg01-sdwan.larkoffice.netlib.re:29023 {
	tls internal
	# vless+wss
	handle_path /v1/realtime/* {
		# 注意：这里必须写 https:// 协议头，否则 Caddy 默认走 http
		reverse_proxy https://localhost:11023 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	# vmess+wss
	handle_path /v2/realtime/* {
		# 注意：这里必须写 https:// 协议头，否则 Caddy 默认走 http
		reverse_proxy https://localhost:11024 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	# 2. 针对普通 Chat API 的分流规则 (SSE/HTTP)
	handle_path /v1/chat/* {
		reverse_proxy https://localhost:11025 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	# 3. 默认兜底 (可选)
	handle {
		root * ./
		try_files {path} /index.html
		file_server
	}
}
