# curl https://github.com/caddyserver/caddy/releases/download/v2.10.2/caddy_2.10.2_linux_amd64.tar.gz -L | tar xzvf -
{
	http_port 8080
	https_port 8443
}

(proxy_config) {
	transport http {
		tls_insecure_skip_verify
	}
}

(myApp) {
	log
	tls internal
	# vless over wss
	handle_path /v1/realtime/* {
		reverse_proxy https://singbox:11023 {
			import proxy_config
		}
	}

	# vmess over wss
	handle_path /v2/realtime/* {
		reverse_proxy https://singbox:11024 {
			import proxy_config
		}
	}

	# vmess over https
	handle_path /v1/chat/* {
		reverse_proxy https://singbox:11025 {
			import proxy_config
		}
	}

	# 3. 默认兜底 (可选)
	handle {
		root * /etc/caddy
		try_files {path} /index.html
		file_server
	}
}

${SITE_DOMAIN:a.cc}:29023, ${SITE_DOMAIN:a.cc}:443 {
	tls internal
	import myApp
}

http://${SITE_DOMAIN:a.cc}:29080, http://${SITE_DOMAIN:a.cc}:80 {
	import myApp
}
